.category-grid {
    position: fixed;
    top: 60px;
    left: 75px;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    z-index: 100;
    padding-bottom: 5px;
    grid-template-columns: 1fr;
    background-color: white;
}
.category-grid-container {
    display: grid;
    grid-template-columns: repeat(14,1fr);
    column-gap: 15px;
    white-space: nowrap;
    padding-right: 15px;
}
.random-category {
    background-color: #80808017;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.12s;
    cursor: pointer;
    padding: 8px;
}
.random-category:hover {
    background-color: #80808035;
}
.random-category-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1350px) {
    .category-grid {
        display: none;

    }
    body {
        padding-top: 65px;
    }
}
